@model MCSHR.Models.UploadFileModal

@{
    ViewData["Title"] = "Upload Employee Data File";
}

<form asp-action="UploadEmployeesFile" asp-controller="Employees" method="post" enctype="multipart/form-data">

    @if (Model.IsResponse)
    {
        @if (Model.IsSuccess)
        {
            <div class="alert alert-success">
                @Model.Message
            </div>
        }
        else
        {
            <div class="alert alert-danger">
                @Model.Message
            </div>
        }
    }

    <div class="row mt-2">
        <div class="col-12">
            <label class="col-form-label">Select Employee File</label>
            <input asp-for="File" class="form-control" />
            <span asp-validation-for="File" class="text-danger"></span>
        </div>
    </div>

    <div class="row mt-2">
        <div class="col-12">
            <button type="submit" class="btn btn-success mt-2">Upload File</button>

            <p><a class="btn btn-primary mt-2" asp-action="EmployeeList">Back to List</a></p>
        </div>
    </div>

</form>